/target/
!.mvn/wrapper/maven-wrapper.jar

/logs

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NPM & weback ###
build
dist
node_modules

upload_dir

# Test and prod configuration
.env.test
.env.prod